@import 'variables';
// @import '{zodiase:mdl}/src/variables';
// @import '{zodiase:mdl}/src/mixins';
// @import '{zodiase:mdl}/src/tabs/tabs';
@import '{zodiase:mdl}/src/material-design-lite';
@import 'template_orig';

.router-link-active {
  @extend .is-active;
}

.mdl-data-table.translations {
  white-space: normal;
  width: 100%;

  td, th {
    vertical-align: middle;
  }

  td {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  th {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .mdl-textfield {
    width: 100%;
  }
}

