<a class="mdl-navigation__link" [router-link]="['/ProjectList']" *ng-if="isLoggedIn">
  <i class="material-icons" role="presentation">forum</i>
  <span class="mdl-badge" [data-badge]="ProjectsCount">Projects</span>
</a>
<a class="mdl-navigation__link subitem" *ng-for="#project of projects" [router-link]="['/Project', {projectId: project._id}]">
	<i class="material-icons" role="presentation">flag</i>{{project.name}}
</a>
<a class="mdl-navigation__link" href="" *ng-if="isLoggedIn"><i class="material-icons" role="presentation">people</i>Users</a>
<a class="mdl-navigation__link" href="" *ng-if="isRoot"><i class="material-icons" role="presentation">report</i>Admin</a>